<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/women.css">
    <!-- Bootstrap core CSS -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/carousel/">
    <link href="/docs/4.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">
    <title>Precious|Women|shirts|Hoodies</title>
</head>

<body>

   {{!-- {{>navbar}} --}}
    {{>navbar data=user}}

    <center class="text-our">Everyday Fashion. Fabricated With Love.</center>
    <hr class="featurette-divider" style="border-bottom: 3px solid red;">
    <!-- crousel ......................................................................... -->

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img class="crousel-img"
                    src="https://images.pexels.com/photos/6167463/pexels-photo-6167463.jpeg?auto=compress&cs=tinysrgb&w=600"
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5 class="text-our">First slide label</h5>
                        <p class="text-our">Some representative placeholder content for the first slide.</p> -->
                </div>
            </div>
        </div>
    </div>



    <center>
        <hr class="featurette-divider" style="border-bottom: 3px solid red;">
        <h3> Welcome to your clothing store.</h3>
        <hr class="featurette-divider" style="border-bottom: 3px solid red;">
    </center>

    <!-- this is three image container .................................................. -->

     <div class="container-ti">
        <div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div>
        <div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div><div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div><div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div><div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div>
    <div class="img-container">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
        <div class="d-inline p-2 t">d-inline</div>

    </div>
      </div>


    <hr class="featurette-divider" style="border-bottom: 3px solid red;">
     <div class="container4">
        <div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div>
        <div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div><div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div><div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div><div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
      </div>


    <hr class="featurette-divider">

    <!--    ----------------------    -->
    <!-- <div class="space">
        <hr class="featurette-divider">
        <div class="text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCPVProXafslCviR56IsLizp3bRSq9gUChYQ&usqp=CAU"
                class="rounded" alt="...">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFQVelwbzU6uQx3nPR-73-4_YN4Fl36OGAZg&usqp=CAU"
                class="rounded" alt="...">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUgK_SWMjcMbXFlaERzuUt1WvK6rT2b3EipA&usqp=CAU"
                class="rounded" alt="...">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMmSRAessjW9ry3zCWUtimO9U6OTkDtTme5Q&usqp=CAU"
                class="rounded" alt="...">
        </div>
    </div> -->
    <hr class="featurette-divider">

    </div>
    <!-- div container........... -->


    <!-- for  men - women t-shirt............................................................. -->
    <!-- ....................................................................................... -->
    <!-- ....................................................................................... -->
    <!-- ....................................................................................... -->


    <center class="text-our">Everyday Fashion. Fabricated With Love.</center>
    <hr class="featurette-divider" style="border-bottom: 3px solid red;">

    <!-- crousel ......................................................................... -->

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img class="crousel-img"
                    src="https://media.istockphoto.com/id/1148212557/photo/portrait-of-tattooed-young-man.jpg?s=612x612&w=0&k=20&c=ksUPe1gSqOR4IYREnWcOV9_hrTwX-eGAmHstTRd3mmA="
                    class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h5 class="text-our">First slide label</h5>
                    <p class="text-our">Some representative placeholder content for the first slide.</p> -->
                </div>
            </div>
        </div>
    </div>



    <center>
        <hr class="featurette-divider" style="border-bottom: 3px solid red;">
        <h3> Welcome to your clothing store.</h3>
        <hr class="featurette-divider" style="border-bottom: 3px solid red;">
    </center>

    <!-- this is three image container .................................................. -->
 <div class="container-ti">
        <div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div>
        <div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div><div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div><div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div><div class="img-container">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
            <div class="d-inline p-2 t">d-inline</div>

        </div>
    <div class="img-container">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded2" alt="">
        <div class="d-inline p-2 t">d-inline</div>

    </div>
      </div>

    <hr class="featurette-divider" style="border-bottom: 3px solid red;">

    <!-- it is four image container.......................................................... -->

    <div class="container4">
        <div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div>
        <div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div><div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div><div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div><div class="img-container4">
            <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
            <div class="d-inline p-2 t4">d-inline</div>

        </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
    <div class="img-container4">
        <img src="https://images.pexels.com/photos/45982/pexels-photo-45982.jpeg?auto=compress&cs=tinysrgb&w=600" class="rounded4" alt="">
        <div class="d-inline p-2 t4">d-inline</div>

    </div>
      </div>
   


    <hr class="featurette-divider">


    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Catagory</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- <p>Try scrolling the rest of the page to see this option in action...........</p> -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-container">
                    <div class="catagory">
                        <h5>Catagory</h5>
                        <hr>
                        <ul>
                            <li class="cat-li">Handmade Jewelerry</li>
                            <hr>
                            <li class="cat-li">Dimple Jewelerry</li>
                            <hr>
                            <li class="cat-li">Designed Jewelerry</li>
                            <hr>
                            <li class="cat-li">Dimond Jewelerry</li>
                            <hr>
                        </ul>
                    </div>
                    <div class="filter">
                        <h5>Filter</h5>
                        <hr>
                        <ul>
                            <li class="cat-li">Handmade Jewelerry</li>
                            <hr>
                            <li class="cat-li">Dimple Jewelerry</li>
                            <hr>
                            <li class="cat-li">Designed Jewelerry</li>
                            <hr>
                            <li class="cat-li">Dimond Jewelerry</li>
                            <hr>
                        </ul>
                    </div>
                    <div class="prices">
                        <h5>Prices</h5>
                        <hr>
                        <ul>
                            <li class="cat-li">Handmade Jewelerry</li>
                            <hr>
                            <li class="cat-li">Dimple Jewelerry</li>
                            <hr>
                            <li class="cat-li">Designed Jewelerry</li>
                            <hr>
                            <li class="cat-li">Dimond Jewelerry</li>
                            <hr>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- footer for websites ................................................................. -->

{{>footer}}

</body>

</html>