<link rel="stylesheet" href="/css/navbar.css"> 


<div class="logo">
    <a href="/homepage">
    <img src="/images/logo.png" class="logo-img" alt="precious" onclick="redirect"></a>
    <hr class="featurette-divider">

</div>
<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/men">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/women">Women</a>
                </li>
                <li class="nav-item" id="login-nav">
                    <a class="nav-link"  href="/slide_login_signup" >Login</a>
                </li>
                 <li class="nav-item" id="logout-nav">
                    <a class="nav-link"  href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{!-- <script>
    const login = document.getElementById("login-nav");
    const logout = document.getElementById("logout-nav");

    const logouthere = ()=>{
            console.log("hahaha");
            login.style.display="none";
            logout.style.display="inline";
    }

  const loginhere = ()=>{
            login.style.display="inline";
            logout.style.display="none";
         
    }
</script> --}}




  {{!-- {{#if data.email}}
                    <a class="nav-link" href="/slide_login_signup"></a>
                    {{else}}
                    <a class="nav-link" href="/slide_login_signup">Login</a>
                     {{/if}} 
</script> --}}
<script src="/js/login.js"></script>


                  